---
layout: layouts/base.njk
---

<article class="prose prose-slate max-w-none">
  <h1 class="text-2xl font-semibold mt-0">{{ title }}</h1>
  <p class="mb-3 text-sm text-slate-500">
    <time datetime="{{ page.date | dateISO }}">{{ page.date | dateSK }}</time>
  </p>
  {{ content | safe }}
</article>
